In [1]:
import pandas as pd

file_path = "../data/raw/amazon_sales_2025_INR.csv"
df = pd.read_csv(file_path)

df.head()

,Order_ID,Date,Customer_ID,Product_Category,Product_Name,Quantity,Unit_Price_INR,Total_Sales_INR,Payment_Method,Delivery_Status,Review_Rating,Review_Text,State,Country
0,ORD100000,2025-01-25,CUST2796,Home & Kitchen,Cookware Set,2,25574.41,51148.82,Credit Card,Returned,1,Waste of money,Sikkim,India
1,ORD100001,2025-08-28,CUST9669,Beauty,Hair Dryer,1,19361.41,19361.41,Debit Card,Returned,5,Excellent product!,Telangana,India
2,ORD100002,2025-02-27,CUST5808,Electronics,Tablet,3,38476.22,115428.66,Cash on Delivery,Delivered,3,Fair deal,Nagaland,India
3,ORD100003,2025-02-24,CUST5889,Electronics,Headphones,5,38145.72,190728.60,Credit Card,Delivered,5,Highly recommend!,Assam,India
4,ORD100004,2025-06-15,CUST9005,Clothing,Saree,5,45940.98,229704.90,UPI,Delivered,5,Highly recommend!,Odisha,India

#### Some basic inspections

In [ ]:
# Shape of the data
df.shape

# Column names
df.columns

# Info about data types and nulls
df.info()

# Quick numeric summary
df.describe()

# Quick look at categories
df['Product_Category'].value_counts().head(10)

df['Payment_Method'].value_counts()

df['Delivery_Status'].value_counts()

df['State'].nunique(), df['State'].unique()[:10]

df['Review_Rating'].value_counts().sort_index()